html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;  
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}


/* MY MAIN CODE*/

* {
    text-decoration: none;
}

header{
	background-color:#1A0031;
	width:100%;
	height: 100px;
	
}

header h1 {
	color:#fff;
	font-family: Emblema one,system-ui;
	font-size: 24px;
	font-weight: bold;
	display: block;
	margin: 0 auto;
	text-align: center;
	padding: 20px 0px;
}


header nav ul{
	color: #f3f3f3;
	display: block;
	margin: 0 auto;
	width: fit-content;
}

header nav ul li{
	color: #f3f3f3;
	display: inline-block;
	float: left;
	list-style: none;
	font-weight: 24px;
	padding: 0 16px;
	
}

nav a{
	 color: #f3f3f3;
 }

.cta-button {
	background-color: #FA8072;
	color: #1A0031;
	padding: 10px 20px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}

.medplug {
	width:100%;
	height:450px;
}

.hero{
	font-family:Underdog,system-ui;
	background-color:#fff;
	position: relative;
}

.herocontent {
	margin-right:200px;
	font-size: 16px;
	color:#1A0031;
	position: absolute;
	top:20px;
	left: 20px;
}

.services{
	margin-bottom: 10px;
	padding:50px;
    background-color: #FFB6C1;
	margin-right:100px;
}

/*features section*/

.features {
	font-family:Underdog,system-ui;
    margin: 16px 16px 0;
}
 
.feature-grid{
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 20px;
}

.feature {
	background-color: #4B0082;
	padding:10px;
	text-align:center;
	color:#fff;
}

.doc {
	width: 100px;
    height: 50px;
}

.feature h3 {
	font-size: 18px;
	margin-bottom: 10px;
}
.feature p {
	font-size: 14px;
}

/*footers section*/

footer {
	width: 100%;
	background-color: #FFB6C1;
	height: 250px;
	color: #111;
	margin-top: 20px;
	text-align: center;
	padding-bottom: 5px;
}

.footer-grid {
	width: fit-content;
	float: left;
	padding-left:20px;
}

.footer-item {
	padding: 20px;
}

.footer-item h3 {
	font-size: 18px;
	margin-bottom:10px;
}

.footer-item p {
	font-size: 14px;
}

@media only screen and (min-width: 1000px) {
	
nav a{
	 text-decoration: none;
	 color: #f3f3f3;
 }
	
nav ul {
	font-size:16px;
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
	}

 nav li{
	margin-right:30px;
 }
 

header {
	display:flex;
	justify-content:space-between;
	align-items:center;
	padding:15px;
}

.medplug {
	width:100%;
	height:450px;
}

.hero{
	background-color:#fff;
	position: relative;
}

header h1 {
	font-family: Emblema one,system-ui;
	font-size: 36px;
	width:560px;
	font-weight: bold;
	display:block;
	margin: 5px 0;
	text-align:left;
	line-height: 38px;
	margin-left: 0%;
} 

.services{
	font-family:Underdog,system-ui;
	margin-bottom: 10px;
	padding:50px;
	background-color: #FFB6C1;
	margin-right:500px;
}

.herocontent {
	font-family:Underdog,system-ui;
	margin-right:500px;
	font-size: 20px;
	color:#1A0031;
	position: absolute;
	top:20px;
	left: 20px;
}
	

.cta-button {
	text-decoration: none;
	background-color: #FA8072;
	color: #1A0031;
	padding: 10px 40px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}

/*features section*/

.features {
	font-family:Underdog,system-ui;
    padding: 50px;
}
 
.feature-grid{
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 20px;
}

.feature {
	background-color: #4B0082;
	padding:20px;
	text-align:center;
	color:#fff;
}

.doc {
	width: 200px;
    height: 150px;
}

.feature h3 {
	font-size: 18px;
	margin-bottom: 10px;
}
.feature p {
	font-size: 14px;
}

/*footers section*/

footer {
	background-color: #FFB6C1;
	color: #111;
	padding: 20px;
	text-align: center;
}

.footer-grid {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 20px;
}

.footer-item {
	padding: 20px;
}

.footer-item h3 {
	font-size: 18px;
	margin-bottom:10px;
}

.footer-item p {
	font-size: 14px;
}
}

	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	